# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3-journal
media/

# Secret key
secret.key

# Development/Build files
*.pyo
*.pyd
*.db
*.pid
*.coverage
htmlcov/
.coverage
.coverage.*
.cache
.tox
.vscode/
*.db-shm
*.db-wal
*.idea/
*.bak
*.swp
*.sql
__pycache__/
.Python
.mypy_cache/
yarn-error.log
.idea/
.pytest_cache/
.mypy_cache/
.cache/
.pytest_cache/
pip-wheel-metadata/
dist/
build/
*.egg-info/
*.egg
*.sqlite-journal
``
