.arrow-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Include box-shadow in transition */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Shadow below by default */
}

.arrow-button:hover {
    background-color: #ddd;
}

.arrow-button:active {
    box-shadow: none; /* No shadow when clicked */
}

.save-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: rgb(168, 168, 168);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Include box-shadow in transition */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Shadow below by default */
}

.save-button:hover {
    background-color: rgb(1, 111, 1);
}

.save-button:active {
    box-shadow: none; /* No shadow when clicked */
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* Nice color */
    /* border: 5px solid #00ad0e; */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 10px; /* Rounded corners */
    width: 20rem;
}

.popup-message {
    font-size: 20px;
    color: #00ad0e;
    font-weight: bold;
}
